<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ovh.krs.madgp">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADGP">
        <activity
            android:name=".ui.add.Addinfo"
            android:label="@string/title_activity_addinfo"></activity>
        <activity android:name=".DateHistory" />
        <activity android:name=".DateItem" />
        <activity android:name=".wo.wo1activity" />
        <activity android:name=".wo.wo2activity" />
        <activity android:name=".wo.wo3activity" />
        <activity android:name=".wo.wo4activity" />
        <activity android:name=".wo.wo5activity" />
        <activity android:name=".wo.wo6activity" />
        <activity android:name=".wo.wo7activity" />
        <activity android:name=".wo.wo8activity" />
        <activity android:name=".wo.wo9activity" />
        <activity android:name=".wo.wo10activity" />
        <activity android:name=".wo.wo11activity" />
        <activity android:name=".wo.wo12activity" />
        <activity android:name=".wo.wo13activity" />
        <activity android:name=".wo.wo14activity" />
        <activity android:name=".wo.wo15activity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="locale|orientation"
            android:label="@string/app_name"
            android:theme="@style/Theme.MADGP.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>